@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500&display=swap');

body {
    background-color: white;
}

#header {
    height: 20%;
    min-height: 100px;
    background-color: black;
    width: 100%;
    padding: 1%;

}

#header h1 {
    color: white;
    font-size:40px;
    line-height: 100px;
    vertical-align: middle;
}
