@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500&display=swap');
.App {
  text-align: center;
}

:root {
  --main-accent: #E0B0D5;
  --faded-accent: #E5D0E3;
  --dark-accent: #19647E;
  --bright-accent: #AEE5D8;
  --dark-main: #37392E;
  font-family: Heebo;
  font-weight: 300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: white;
  overflow: hidden;
}

#header {
  height: 20%;
  min-height: 100px;
  background-color: white;
  width: 100%;
  padding: 1%;

}

#header h1 {
  color: var(--main-accent);
  font-size:40px;
  line-height: 30px;
  vertical-align: middle;
  font-family: Heebo;
  font-weight: 300;
}

#header h2 {
  color: lightgrey;
  font-size:40px;
  line-height: 30px;
  vertical-align: middle;
  font-family: Heebo;
  font-weight: 300;
}

#header a {
  margin-top:26px;
  position: static;
  float: left;
  padding: 10px;
  color: var(--dark-main);
  text-decoration: none;
  font-family: Heebo;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

#header a:hover{
  border-bottom: var(--main-accent) 3px solid;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

.active {
  border-bottom: var(--main-accent) 3px solid;
}

#nicknames {
  width: 200px;
  float: left;
}

#container {
  width:100%;
  height: 100%;
  position: fixed;
  font-size: 18px;
  color: var(--dark-main);
  font-family: Heebo;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
}

#container h1 {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--dark-main);
}

#container h2 {
  font-weight: 500;
  font-size: 1em;
  color: var(--main-accent);
}

#container h3 {
  font-weight: 300;
  font-size: 1.5em;
  color: var(--dark-main);
  font-family: Heebo;
}

#pageBio {
  width: 100%;
  height: 200px;
  position: relative;
  padding: 10px;
  padding-left: 30px;
  float:left;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}

#pageBio hr {
  width: 95%;
  margin-left: 0px;
  border-top: var(--main-accent) 3px solid;
  bottom: 20px;
  position: absolute;
  background-color: white;
}

#pageBio h1 {
  font-weight: 500;
  font-size: 30px;
  background-size: 50%;
  font-family: Heebo;
}

#pageBio span{
  line-height: 15px;
  position: static;
  float:left;
  background-color: var(--main-accent);
}

#pageBio p {
  font-size: 20px;
}

#carousel {
  width: 100%;
  height: 50%;
  min-height: 300px;
  position: relative;
  padding: 0px;
  float:left;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}

#carousel img {
  width: 20%;
  object-position: 40% 0;
  padding-right: 10px;
  vertical-align: top;
  float: start;
  min-height: 110%;
  flex-wrap: nowrap;
  object-fit: cover;
  z-index: 1;
  min-width: 300px;
}

#infoBox {
  background-color: white;
  height: 90px;
  width: 400px;
  z-index: 100;
  position: absolute;
  color: black;
  bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  float: left;
}

#infoBox h1 {
  line-height: 15px;
  font-weight: 500;
  font-size: 30px;
  background-size: 70%;
  background-color: var(--main-accent)
}

#infoBox p {
  font-size: 20px;
}

#mainText {
  float: left;
  display: block;
  clear: both;
  position: static;
  margin-bottom: 0px;

  padding: 10px;
  padding-left: 30px;
  width: 100%;
  float: top;

  padding-bottom: 150px;
}
#fullCard {
  width: 98%;
}
#mainCard {
  width: 40%;
  position: static;
  float: left;
  display: table-cell;
  margin-right: 10%;
}

#mainCard h2 {
  font-weight: 300;
  font-size: 1.5em;
  color: var(--dark-main);
  font-family: Heebo;
  margin-bottom: 0px;
}

#mainCard h3 {
  font-weight: 500;
  font-size: 1em;
  color: var(--main-accent);
  margin-top: 0px;
}

#mainCard img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

#tumblr description {
  font-size:1000px;
}

#blogText {
  padding: 20px;
}